<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="../css/all.min.css" />
    <link rel="stylesheet" href="../css/fontawesome.min.css" />
    <link rel="stylesheet" href="../css/brands.min.css" />
    <link rel="stylesheet" href="../css/brands.css" />
    <title>Document</title>
  </head>
  <body>
    <footer class="footer">
      <div class="footer-container">
        <!-- First Column -->
        <div class="footer-col">
          <h4 class="comment">Customer Supports:</h4>
          <ul>
            <li class="title">+(965) 99661696</li>
            <li class="comment">YooStore Kuwait</li>
            <li class="title_2">info@yoostore.com</li>
          </ul>
        </div>

        <!-- Second Column -->
        <div class="footer-col">
          <h4 class="title">Top Category</h4>
          <ul>
            <li><a href="#">Computer & Laptop</a></li>
            <li><a href="#">SmartPhone</a></li>
            <li><a href="#">Headphone</a></li>
            <li class="title_2">
              <i style="color: yellow" class="fa-solid fa-minus"></i>
              Accessories
            </li>
            <li><a href="#">Camera & Photo</a></li>
            <li><a href="#">TV & Homes</a></li>
            <li>
              <a href="#" style="color: yellow"
                >Browse All Product <i class="fa-solid fa-arrow-right"></i
              ></a>
            </li>
          </ul>
        </div>

        <!-- Third Column -->
        <div class="footer-col">
          <h4 class="title">Quick Links</h4>
          <ul>
            <li><a href="#">Shop Product</a></li>
            <li><a href="#">Shopping Cart</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Compare</a></li>
            <li><a href="#">Track Order</a></li>
            <li><a href="#">Customer Help</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>

        <!-- Fourth Column -->
        <div class="footer-col cards">
          <h4 class="title">Download App</h4>
          <ul>
            <div class="card">
              <a href="#">
                <div>
                  <i
                    style="font-size: 30px"
                    class="fa-brands fa-google-play"
                  ></i>
                </div>
                <div class="details">
                  <p>Get it now</p>
                  <h4>Google Play</h4>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <div>
                  <i style="font-size: 35px" class="fa-brands fa-apple"></i>
                </div>
                <div class="details">
                  <p>Get it now</p>
                  <h4>App store</h4>
                </div>
              </a>
            </div>
          </ul>
        </div>

        <!-- Fifth Column -->
        <div class=" tags">
          <h4 class="title">Popular Tag</h4>
          <span class="tag">Game</span>
          <span class="tag">iPhone</span>
          <span class="tag">TV</span>
          <span class="tag">Asus Laptops</span>
          <span class="tag">Macbook</span>
          <span class="tag">SSD</span>
          <span class="tag">Graphics Card</span>
          <span class="tag">Power Bank</span>
          <span class="tag">Smart TV</span>
          <span class="tag">Speaker</span>
          <span class="tag">Tablet</span>
          <span class="tag">Microwave</span>
          <span class="tag">Samsung</span>
        </div>
      </div>
      <div class="footer_end"> All Rights Reserved YooStore.com © 2024. </div>
    </footer>
  </body>
</html>
