



.left{
    height: 406px;
}

.left p {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: black;
}

.cart-container {
    font-family: Arial, sans-serif;
 
    padding: 5px;
    width: 1500px;
}

.cart-container {
    padding: 50px;
    background-color: #fff;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 75%;
    position: relative;
    left: 100px;

}
.shopping-cart {
    width: 60%;
    padding: 20px;
    height: fit-content;
    border-right: 1px solid #ddd;
}

h2, h3 {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.cart-buttons button {
    padding: 10px 20px;
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;

    cursor: pointer;
    border-radius: 3px;
    height: 48px;
}

.cart-buttons button:hover {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #fff;
}

.cart-summary {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-totals, .coupon-box {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.totals-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.total {
    font-weight: bold;
    font-size: 1.2em;
}

.checkout-button {
    width: 100%;
    padding: 15px;
    background-color: #ff7f0e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 0;
}

.checkout-button:hover {
    background-color: #e06900;
}

.coupon-box {
    text-align: left;
}

.coupon-box input {
    width: calc(100% - 140px);
    padding: 10px
}


.quantity button {
background-color: transparent;
border: 0px solid white;

}
   
.quantity {
   size: 200px;

}
