body {
    font-family: Arial, sans-serif;
  
}

.support-box {
    background-color: #FBF4CE;
    padding: 20px;
   
}
.support-box h5 {
    font-weight: bold;
}
.support-box .btn {
    background-color: #ff7f2a;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

